# Versioning
.git
.gitignore
.github

# Dependencies
**/node_modules
**/dist
**/.nuxt
**/.output

# Dev files
.data
.env*
.editorconfig

# CI/CD
.gitlab-ci.yml
.circleci

# ide
.vscode
.idea

# chore
.DS_Store

README.md

server/database/generated/
