NITRO_ORIGIN="http://localhost:3000"



# The key for encrypting auth tokens, >=32 characters long:
NUXT_SESSION_PASSWORD=
NUXT_OAUTH_DISCORD_CLIENT_ID=
NUXT_OAUTH_DISCORD_CLIENT_SECRET=
NUXT_OAUTH_DISCORD_REDIRECT_URL=
NUXT_OAUTH_DISCORD_BOT_TOKEN=
# site seo:
NUXT_SITE_URL="https://wolfstar.rocks"
NUXT_SITE_NAME="Wolfstar"

# image domains:
NUXT_IMAGE_DOMAINS=

# cdn domain:
NUXT_APP_CDN_URL=

# API base url:
NUXT_PUBLIC_API_BASE="https://localhost:8282"
# Sentry config for error tracking:
SENTRY_AUTH_TOKEN=
SENTRY_PROJECT=
SENTRY_ORG=

# Sentry DSN for error tracking:
NITRO_SENTRY_DSN=

# The port the server will listen on:
PORT=8281
HOSTNAME="localhost"

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/wolfstar?schema=public"