node_modules/
.nuxt/
.nitro/
.cache/
.output/
dist/
functions/
.netlify/

# Logs
logs
*.log*

# Misc
.DS_Store
.fleet
.idea
.pnpm-store
.data
.eslintcache

# Local env files
.env
.env.*
!.env.example


server/database/generated/
