node_modules/
.nuxt/
.nitro/
.cache/
.output/
dist/
functions/


# Logs
logs
*.log*

# Misc
.DS_Store
.fleet
.idea
.wrangler
.dev.vars*

# Local env files
.env
.env.*
!.env.example

.pnpm-store
.data
.eslintcache
