[build]
publish = "dist"
command = "pnpm prisma:generate && pnpm run build"

[build.environment]
NODE_OPTIONS = '--max-old-space-size=4096'

[functions]
external_node_modules = [ '@resvg/resvg-js' ]

# Redirect to Discord server
[[redirects]]
from = "https://join.wolfstar.rocks"
to = "https://discord.gg/gqAnRyUXG8"
status = 301
force = true

[[headers]]
for = "/manifest.webmanifest"

[headers.values]
Content-Type = "application/manifest+json"

[[headers]]
for = "/assets/*"

[headers.values]
cache-control = '''
    max-age=31536000,
    immutable
    '''
