@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
}

@utility icon {
	vertical-align: text-bottom !important;
}

@utility prose {
	@apply max-w-none;
}

@utility tab-* {
	tab-size: --value(--tab-size-*);
}
