@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
}

@utility icon {
	vertical-align: text-bottom !important;
}

@utility prose {
	@apply max-w-none;
}

@utility tab-* {
	tab-size: --value(--tab-size-*);
}

/* Reduce Motion Support */
:root[data-reduce-motion='true'] *,
:root[data-reduce-motion='true'] *::before,
:root[data-reduce-motion='true'] *::after {
	animation-duration: 0.01ms !important;
	animation-iteration-count: 1 !important;
	transition-duration: 0.01ms !important;
	scroll-behavior: auto !important;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
